@import "variables.scss";
@import "mixins.scss";

.flexbox {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  &.center{
    justify-content: center;
  }
  &.vertical{
    flex-direction: column;
  }
}


// universe margin and padding
.margin-5{
  margin: 5px;
}
.margin-10{
  margin: 10px;
}
.margin-20{
  margin: 20px;
}
.margin-30{
  margin: 30px;
}
.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}
