@import "variables.scss";
@import "mixins.scss";
@import url( 'https://fonts.googleapis.com/css?family=Advent+Pro|Bungee+Shade|Cabin+Sketch|Freckle+Face|Fugaz+One|Indie+Flower|Press+Start+2P|Special+Elite|Vampiro+One');

// components container
.box-container{
  background: #fff;
  width: 90%;
  margin: 30px auto 20px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  &.small{
    width: 400px;
  }
}
// flexbox
.flexbox {
  display: -webkit-flex;
  /* Safari */
  display: flex;

  &.center {
    justify-content: center;
  }

  &.vertical {
    flex-direction: column;
  }
}
// font
.font {
  &.main-head {
    @include font( bold,#464c5b,16px);
  }

  &.sub-head {
    @include font( bold,#464c5b,14px);
  }

  &.small-head {
    @include font( bold,#464c5b,12px);
  }

  &.text {
    @include font( normal,#657180,12px);
  }

  &.help {
    @include font( normal,#9ea7b4,12px);
  }

  &.disabled {
    @include font( normal,#c3cbd6,12px);
  }

  &.link {
    @include font( normal,#3399ff,12px);
  }
}
// float related class

.float {
  &.left {
    float: left;
  }

  &.right {
    float: right;
  }
}

.clear-float {
  &:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
// universe margin and padding

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}
// font face
@font-face {
  font-family: 'advent_proregular';
  src: url('http://om29pccgt.bkt.clouddn.com/fonts/adventpro-regular-webfont.woff2') format('woff2'), url('http://om29pccgt.bkt.clouddn.com/fonts/adventpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'vampiro_oneregular';
  src: url('http://om29pccgt.bkt.clouddn.com/fonts/vampiro-one-587353abdb688-webfont.woff2') format('woff2'), url('http://om29pccgt.bkt.clouddn.com/fonts/vampiro-one-587353abdb688-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
