@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Bungee+Shade|Cabin+Sketch|Freckle+Face|Fugaz+One|Indie+Flower|Press+Start+2P|Special+Elite|Vampiro+One");
.box-container {
  background: #fff;
  width: 90%;
  margin: 30px auto 20px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .box-container.small {
    width: 400px; }

.flexbox {
  display: -webkit-flex;
  /* Safari */
  display: flex; }
  .flexbox.center {
    justify-content: center; }
  .flexbox.vertical {
    flex-direction: column; }

.font.main-head {
  color: #464c5b;
  font-size: 16px;
  font-weight: bold; }

.font.sub-head {
  color: #464c5b;
  font-size: 14px;
  font-weight: bold; }

.font.small-head {
  color: #464c5b;
  font-size: 12px;
  font-weight: bold; }

.font.text {
  color: #657180;
  font-size: 12px;
  font-weight: normal; }

.font.help {
  color: #9ea7b4;
  font-size: 12px;
  font-weight: normal; }

.font.disabled {
  color: #c3cbd6;
  font-size: 12px;
  font-weight: normal; }

.font.link {
  color: #3399ff;
  font-size: 12px;
  font-weight: normal; }

.float.left {
  float: left; }

.float.right {
  float: right; }

.clear-float:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }

.margin-5 {
  margin: 5px; }

.margin-10 {
  margin: 10px; }

.margin-20 {
  margin: 20px; }

.margin-30 {
  margin: 30px; }

.padding-5 {
  padding: 5px; }

.padding-10 {
  padding: 10px; }

.padding-20 {
  padding: 20px; }

.padding-30 {
  padding: 30px; }

@font-face {
  font-family: 'advent_proregular';
  src: url("http://om29pccgt.bkt.clouddn.com/fonts/adventpro-regular-webfont.woff2") format("woff2"), url("http://om29pccgt.bkt.clouddn.com/fonts/adventpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'vampiro_oneregular';
  src: url("http://om29pccgt.bkt.clouddn.com/fonts/vampiro-one-587353abdb688-webfont.woff2") format("woff2"), url("http://om29pccgt.bkt.clouddn.com/fonts/vampiro-one-587353abdb688-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  70% {
    opacity: 0; }
  100% {
    opacity: 0; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #657180;
  background: #f5f7f9;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; }
  body::-webkit-scrollbar {
    display: none; }

body *:focus {
  outline: none !important; }

h1.center,
h2.center,
h3.center,
h4.center {
  text-align: center; }

ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }
