@mixin font ($fontWeight,$fontColor, $fontSize) {
  color: $fontColor;
  font-size: $fontSize;
  font-weight: $fontWeight;
}
@mixin german-script($letterSpacing: 2px, $fontfamily:'advent_proregular') {
  font-family: $fontfamily,sans-serif;
  letter-spacing: $letterSpacing;
}
