$backgroundWhite: #ffffff;
$backgroundGary: #f9f9fb;
$backgroudLight: rgba(238,238,238,.3);
$backgroudDark: #16a085;

$fontBlack: #666666;
$fontGary: #999999;
$fontWhite: #ffffff;

$borderGary: #e5e5e5;

$colorBlueGreen: #1abc9c;
$colorRed: #e74c3c;
$colorYellow: #FFD700;

$fontPostTitleLarge: 48px;
$fontPostTitle: 36px;
$fontExtraLarge: 20px;
$fontLarge: 18px;
$fontMedium: 16px;
$fontSmall: 14px;
$fontExtraSmall: 13px;
$fontAssistant: 12px;
